node_modules
coverage
.idea
.vscode
package-lock.json
yarn.lock
lucky-one-api.iml
lucky-one-api.log*
uploads/**/*.png
uploads/**/*.jpg
uploads/**/*.jpeg
uploads/**/*.svg
uploads/**/*.gif
uploads/**/*.dbf
uploads/**/*.csv
.env
uploads/**/*.dbf
*.log*
elastic-apm-node.js